body {
    background-color: #4B73A7 !important;
    height: 100vh;
    min-width: 300px;
    display: flex;
    flex-flow: column;
}

.custom-nav {
    flex-grow: 1;
}

.myNav {
    background-color: #003883 !important;
}

.myBrand {
    color: #ffffff !important;
    font-family: 'Secular One';
    font-size: 2em;
}

.table-container {
    flex-grow: 10;
}

.myLink {
    color: #E4B312 !important;
    font-weight: bold;
    margin-inline: 10px;
    text-align: center;
}

h2 {
    font-weight: bolder !important;
    font-family: 'Courier New', Courier, monospace;
    font-size: 40px;
}

.schedule {
    border-collapse: collapse;
    min-width: 300px;
    margin-bottom: 60px !important;
    width: 80%;
    background-color: #F1ECEC;
}

tr>td {
    padding: 10px;
    font-weight: bold;
    text-align: center;
}

.thead {
    background-color: #CE1127 !important;
}


.login {
    background-color: #CE1127;
    padding: 5px;
}

footer {
    background-color: #F1ECEC;
    flex-grow: 1;
    width: 100%;
}